<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses Tracker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <img class="image" src="/static/image/expenses.png" alt="expenses logo">
    <h1> Expenses Tracker Web App</h1>

    <form action="/add" method="post">
        <button class="button" type="submit">Add</button>
    </form>

    <form action="/showall" method="post">
        <button class="button" type="submit">Show All</button>
    </form>

    <form action="/status" method="post">
        <button class="button" type="submit">Status</button>
    </form>
    
</body>
</html>